{% extends 'baza.html' %}

        
{% block content %}
    <div class="border-light">
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>Chodzik LUCA</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/nowosci11.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/nowosci11.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small>Chodzik LUCA firmy Reha Fund, to wielofunkcyjny produkt, który jednocześnie może pełnić 3 funkcje:<br>
                            • Balkonika<br>
                            • Balkonika z ławeczką<br>
                            • Krzesła sedesowego<br>
                            Dane techniczne:<br>
                            • Składana, aluminiowa rama,<br>
                            • Waga 2,5kg,<br>
                            • Maksymalne obciążenie: 100kg.</small></a></small></a>
                            <br><br><u>Producent: REHA FUND</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>Chodzik CARTER</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/nowosci13.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/nowosci13.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small>Chodzik ułatwiający poruszanie z czterema kółkami. Zalecony do użytkowania w domu.<br>
                            Dane techniczne:<br>
                            • Składana, aluminiowa rama,<br>
                            • Tylne kółka z możliwością blokady,<br>
                            • Wysokość regulowana skokowo co 2,5 cm,<br>
                            • Szerokość 58cm,<br>
                            • Waga 3,7kg,<br>
                            • Maksymalne obciążenie: 110kg.</small></a>
                            <br><br><u>Producent: MDH</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>Chodzik składany na dużych kołach</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/nowosci14.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/nowosci14.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small>Chodzik ułatwiający poruszanie z dwoma kółkami. Zalecony do użytkowania w domu.<br>
                            Dane techniczne:<br>
                            • Składana, aluminiowa rama,<br>
                            • Tylne nóżki zakończone gumowymi nasadkami antypoślizgowymi,<br>
                            • Wysokość regulowana,<br>
                            • Szerokość 62cm,<br>
                            • Waga 2,9kg,<br>
                            • Maksymalne obciążenie: 136kg.</small></a>
                            <br><br><u>Producent: TIMAGO</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>Chodzik ALEX</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/nowosci15.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/nowosci15.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small>Chodzik ułatwiający poruszanie z dwoma kółkami i siedziskiem. Zalecony do użytkowania w domu.<br>
                            Dane techniczne:<br>
                            • Składana, stalowa rama,<br>
                            • Tylne nóżki zakończone gumowymi nasadkami antypoślizgowymi,<br>
                            • Wysokość regulowana,<br>
                            • Szerokość 54cm,<br>
                            • Waga 5kg,<br>
                            • Maksymalne obciążenie: 100kg.</small></a>
                            <br><br><u>Producent: MDH</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>Chodzik trójkołowy stalowy TOM firmy MDH</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/nowosci16.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/nowosci16.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small>Chodzik ułatwiający poruszanie z trzema kółkami i koszykiem z tacką. Zalecony do użytkowania w domu i na zewnątrz.<br>
                            Dane techniczne:<br>
                            • Składana, stalowa rama,<br>
                            • 3 duże (średnica 200 mm), pełne, bezobsługowe koła wykonane z gumy,<br>
                            • Wysokość regulowana,<br>
                            • Szerokość 64cm,<br>
                            • Waga 7,8kg,<br>
                            • Maksymalne obciążenie: 110kg.</small></a>
                            <br><br><u>Producent: MDH</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>Chodzik czterokołowy aluminiowy ROCKY</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/nowosci17.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/nowosci17.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small>Chodzik ułatwiający poruszanie z czterema kółkami, siedziskiem, torbą na zakupy. Zalecony do użytkowania na zewnątrz.<br>
                            Dane techniczne:<br>
                            • Składana, aluminiowa rama,<br>
                            • Hamulec z systemem postojowego blokowania,<br>
                            • Wysokość regulowana,<br>
                            • Szerokość 62cm,<br>
                            • Waga 7,3kg,<br>
                            • Maksymalne obciążenie: 120kg.</small></a>
                            <br><br><u>Producent: MDH</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>Chodzik czterokołowy aluminiowy PRESTIGE</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/nowosci18.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/nowosci18.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small>Chodzik ułatwiający poruszanie z czterema kółkami, siedziskiem, torbą na zakupy. Zalecony do użytkowania na zewnątrz.<br>
                            Dane techniczne:<br>
                            • Składana, aluminiowa rama,<br>
                            • Hamulec z systemem postojowego blokowania,<br>
                            • Wysokość regulowana,<br>
                            • Szerokość 65cm,<br>
                            • Waga 5kg,<br>
                            • Maksymalne obciążenie: 136kg.</small></a>
                            <br><br><u>Producent: ARMEDICAL</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>Chodzik czterokołowy aluminiowy ROSE</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/nowosci19.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/nowosci19.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small>Chodzik ułatwiający poruszanie z czterema kółkami, siedziskiem, torbą na zakupy. Zalecony do użytkowania na zewnątrz.<br>
                            Dane techniczne:<br>
                            • Składana, aluminiowa rama,<br>
                            • Demontowana barierka oparcia z możliwością przełożenia gdy podpórka spełnia funkcję transportową,<br>
                            • Wysokość regulowana,<br>
                            • Szerokość 62cm,<br>
                            • Waga 8kg,<br>
                            • Maksymalne obciążenie: 120kg.</small></a>
                            <br><br><u>Producent: MDH</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>Chodzik czterokołowy aluminiowy QUADRI LIGHT</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/nowosci111.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/nowosci111.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small>Chodzik ułatwiający poruszanie z czterema kółkami, siedziskiem, koszykiem na zakupy. Zalecony do użytkowania na zewnątrz.<br>
                            Dane techniczne:<br>
                            • Składana, aluminiowa rama,<br>
                            • Składany na płasko,<br>
                            • Wysokość regulowana,<br>
                            • Szerokość 65cm,<br>
                            • Waga 5kg,<br>
                            • Maksymalne obciążenie: 130kg.</small></a>
                            <br><br><u>Producent: VERMEIREN</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>Chodzik czterokołowy stalowy FRANK</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/nowosci112.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/nowosci112.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small>Chodzik ułatwiający poruszanie z czterema kółkami, koszykiem na zakupy. Zalecony do użytkowania na zewnątrz.<br>
                            Dane techniczne:<br>
                            • Składana, stalowa rama,<br>
                            • Tacka montowana na siedzisku,<br>
                            • Wysokość regulowana,<br>
                            • Szerokość 60cm,<br>
                            • Waga 7,2kg,<br>
                            symalne obciążenie: 130kg.</small></a>
                            <br><br><u>Producent: MDH</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>Chodzik czterokołowy aluminiowy QUAWA</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/nowosci113.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/nowosci113.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small>CChodzik ułatwiający poruszanie z czterema kółkami, siedziskiem, koszykiem na zakupy. Zalecony do użytkowania na zewnątrz.<br>
                            Dane techniczne:<br>
                            • Składana, aluminiowa rama,<br>
                            • Za pomocą przycisku możliwość złożenia do rozmiaru transportowego,<br>
                            • Wysokość regulowana,<br>
                            • Szerokość 65cm,<br>
                            • Waga 5kg,<br>
                            • Maksymalne obciążenie: 136kg.</small></a>
                            <br><br><u>Producent: VERMEIREN</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>Chodzik typu AMBONA</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/nowosci114.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/nowosci114.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small>Chodzik ułatwiający poruszanie z czterema kółkami, podparciem na przedramiona, ergonomicznymi uchwytami.<br>
                            Dane techniczne:<br>
                            • Rama wykonana ze stali,<br>
                            • Miękkie podłokietniki z możliwością płynnej regulacji wysokości,<br>
                            • Kółka tylne z hamulcem,<br>
                            • Szerokość 65cm,<br>
                            • Maksymalne obciążenie: 120kg.</small></a>
                            <br><br><u>Producent: MDH</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}