{% extends 'baza.html' %}

        
{% block content %}

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">STAW BARKOWY</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">STAW ŁOKCIOWY</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">STAW NADGARSTKOWY</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="card border-light">
        <div class="row no-gutters">
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>KAMIZELKA ORTOPEDYCZNA MDH</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/bark.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/bark.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body">
                            <a class="card-text"><small><b>Zastosowanie:</b> <br>
                            <br>
                            • Wspomaga leczenie urazów obręczy barkowej, stawu ramiennego i łokciowego.
                            Takie urazy wymagają unieruchomienia kończyny w przywiedzeniu.<br>
                            <br>
                            <b>Cechy produktu: </b> <br>
                            <br>
                            • Posiada dodatkowy element zabezpieczająco-odciążający
                            dłoń i umożliwia zminimalizowanie okresu stosowania opatrunków gipsowych..</small></a>
                            <br><a style="float:right;color:red;"><small><u>Możliwość uzyskania refundacji przez NFZ kod: L.052</u></small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>KAMIZELKA ORTOPEDYCZNA PANI TERESA</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/bark1.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/bark1.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body">
                            <a class="card-text"><small><b>Zastosowanie:</b> <br>
                            <br>
                            • Przeznaczona do procesu rehabilitacji w ostrych zespołach bólowych obręczy barkowej,
                            zmianach zwyrodnieniowych, zespole ciasnoty podbarkowej, uszkodzeniu stożka rotatorów,
                            przy zwichnięciu stawu ramiennego.<br>
                            <br>
                            <b>Cechy produktu: </b> <br>
                            <br>
                            • Wykonany jest z materiałów o wyjątkowej trwałości, które zapewnią również komfort użytkowania.</small></a>
                            <br><a style="float:right;color:red;"><small><u>Możliwość uzyskania refundacji przez NFZ kod: L.052</u></small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>ACROMED ORTEZA STAWU BARKOWEGO</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/bark2.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/bark2.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body">
                            <a class="card-text"><small><b>Zastosowanie:</b> <br>
                            <br>
                            • Pooperacyjne leczenie złamań głowy kości ramiennej,  zmiany zwyrodnieniowe stawu ramiennego i 
                            związane z nimi zespoły bólowe, nawykowe zwichnięcia stawu ramiennego,
                            doleczanie po rekonstrukcji obrąbkowo-torebkowej. <br>
                            <br>
                            <b>Cechy produktu: </b> <br>
                            <br>
                            • Orteza składa się z tutora wykonanego z oddychającej dzianiny, posiada system taśm sztywnych oraz dodatkowe, elastyczne taśmy.</small></a>
                            <br><a style="float:right;color:red;"><small><u>Możliwość uzyskania refundacji przez NFZ kod: L.051</u></small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>PROSTOTRZYMACZ ORTOPEDYCZNY SPINCARE EXTENSOR</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/bark3.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/bark3.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body">
                            <a class="card-text"><small><b>Zastosowanie:</b> <br>
                            <br>
                            • Urazy obojczyka niewymagające interwencji chirurgicznej i ortopedycznej, 
                            wady postawy niewymagające interwencji chirurgicznej, zespoły bólowe piersiowego odcinka kręgosłupa,
                            hiperkifoza piersiowa.<br>
                            <br>
                            <b>Cechy produktu: </b> <br>
                            <br>
                            • Wykonany z elastycznych taśm, zaopatrzony w cztery półelastyczne stalki zapewniające 
                            stabilizację oraz peloty chroniące doły pachowe.</small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>PROSTOTRZYMACZ ORTOPEDYCZNY TYP "ÓSEMKA"</a> 
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/bark4.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/bark4.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body">
                            <a class="card-text"><small><b>Zastosowanie:</b> <br>
                            <br>
                            • Leczenie zachowawcze złamań obojczyka, stabilizacja obręczy barkowej,
                            wyrobienie nawyku prawidłowej postawy.<br>
                            <br>
                            <b>Cechy produktu: </b> <br>
                            <br>
                            • Orteza wykonana z taśmy bawełnianej, dodatkowo obszytej miękkim welurem.</small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>TEMBLAK DELUXE Z MIĘKKIM NARAMIENNIKIEM</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/bark5.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/bark5.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body">
                            <a class="card-text"><small><b>Zastosowanie:</b> <br>
                            <br>
                            • Zapewnia unieruchomienie oraz podtrzymanie kończyny w szczególności po zdjęciu unieruchomienia
                            gipsowego, jako opatrunek doraźny w przypadku złamania kości przedramienia lub
                            zwichnięcia stawu łokciowego.<br>
                            <br>
                            <b>Cechy produktu: </b> <br>
                            <br>
                            • Możliwość  regulacji długości naramiennika pozwala na podtrzymanie kończyny na właściwej wysokości.
                            System zapinania na rzep oraz użyte materiały gwarantują pełen komfort użytkowania.</small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
  </div>
  <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="card border-light">
        <div class="row no-gutters">
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>ELBOW PRO ORTEZA STAWU ŁOKCIOWEGO</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/lokiec.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/lokiec.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body">
                            <a class="card-text"><small><b>Zastosowanie:</b> <br>
                            <br>
                            • Rehabilitacja uszkodzeń struktur stawowych wymagających ograniczenia ruchów pronacji
                            i supinacji przedramienia z regulacją ruchów zgięcia i wyprostu w stawie łokciowym.<br>
                            <br>
                            <b>Cechy produktu: </b> <br>
                            <br>
                            • Możliwe unieruchomienie stawu w wybranym położeniu, dodatkowa taśma nośna do odciążenia i
                            podtrzymania zaopatrzonej kończyny, możliwość zastosowania z uchwytem na dłoń (wersja Elbow Pro Plus).</small></a>
                            <br><a style="float:right;color:red;"><small><u>Możliwość uzyskania refundacji przez NFZ kod: L.049</u></small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>CUBIDYN</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/lokiec1.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/lokiec1.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body">
                            <a class="card-text"><small><b>Zastosowanie:</b> <br>
                            <br>
                            • Ostre lub przewlekłe zapalenie nadłykcia kości promieniowej ramienia lub łokciowej,
                            łokieć tenisisty, łokieć golfisty. <br>
                            <br>
                            <b>Cechy produktu: </b> <br>
                            <br>
                            • Produkt został wyposażony w praktyczną pelotę silikonową z wypustkami sprawdzającą
                            się przy tak zwanym masażu tarciowym, który natychmiast łagodzi ból mięśniowy.</small></a>
                            <br><a style="float:right;color:red;"><small><u>Możliwość uzyskania refundacji przez NFZ kod: L.050</u></small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>EPICOMED</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/lokiec2.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/lokiec2.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body">
                            <a class="card-text"><small><b>Zastosowanie:</b> <br>
                            <br>
                            • Zapalenie nadkłykcia bocznego i przyśrodkowego, nadmiar mazi stawowej i 
                            opuchlizna w wyniku zapalenia stawów i artrozy, łokieć tenisisty i łokieć golfisty. 
                            Dzięki połączeniu dwóch wkładek silikonowych wywołuje efekt masażu, który poprawia ukrwienie, 
                            prowadząc tym samym do szybszej resorpcji obrzęków i krwiaków. Łagodzi także podrażnienia i ból.<br>
                            <br>
                            <b>Cechy produktu: </b> <br>
                            <br>
                            • Anatomicznie uformowana opaska z podkładką silikonową z wypustkami, zdejmowany pasek napinający
                            do indywidualnego dopasowania nacisku, bardzo elastyczna, oddychająca i odprowadzająca wilgoć tkanina.</small></a>
                            <br><a style="float:right;color:red;"><small><u>Możliwość uzyskania refundacji przez NFZ kod: L.050</u></small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>STABILIZATOR ŁOKCIA TENISISTY Z PODUSZKĄ SILIKONOWĄ</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/lokiec3.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/lokiec3.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body">
                            <a class="card-text"><small><b>Zastosowanie:</b> <br>
                            <br>
                            • Środek prewencyjny przy osłabieniu i uszkodzeniu ścięgien i mięśni, łokieć tenisisty.<br>
                            <br>
                            <b>Cechy produktu: </b> <br>
                            <br>
                            • Wykonany z oddychającego neoprenu ze specjalnie zaprojektowanymi mikro-otworami daje uczucie 
                            chłodu w miejscu przylegania, zapobiega tym samym przegrzaniu skóry oraz powstawaniu nadmiernej 
                            ilości wilgoci powodującej dyskomfort użytkowania.</small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>ELASTYCZNA OPASKA NA ŁOKIEĆ</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/lokiec4.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/lokiec4.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body">
                            <a class="card-text"><small><b>Zastosowanie:</b> <br>
                            <br>
                            • Wzmocnienie i ochrona stawu łokciowego w trakcie wysiłku, zwyrodnienia, zespoły bólowe.<br>
                            <br>
                            <b>Cechy produktu: </b> <br>
                            <br>
                            • Wykonana z oddychającego materiału z obszytymi brzegami, przyjemna w dotyku.
                            Anatomicznie ukształtowana dzianina ze strefą komfortu w zgięciu łokciowym.
                            Dodatkowo opaska pełni funkcję propriocepcyjną poprzez wzmocnienie czucia głębokiego,
                            uśmierza ból dzięki połączeniu kompresji z oddziaływaniem termoregulacyjnym.</small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
  </div>
  <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
    <div class="card border-light">
        <div class="row no-gutters">
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>MANUMED RFX</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/nadgarstek.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/nadgarstek.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body">
                            <a class="card-text"><small><b>Zastosowanie:</b> <br>
                            <br>
                            • Stabilne unieruchomienie nadgarstka i dalszej części przedramienia, redukuje obrzęki i zapalenia, choroba zwyrodnieniowa nadgarstka. <br>
                            <br>
                            <b>Cechy produktu: </b> <br>
                            <br>
                            • Orteza łączy maksymalną stabilność z wysokim stopniem komfortu noszenia.
                            Manumed RFX zapewnia wysoki stopień unieruchomienia i jest skuteczną alternatywą dla tradycyjnych odlewów gipsowych.
                            Manumed RFX nadaje się dostosowania w złamaniach dalszej części kości promieniowej i przedramienia,
                            a także we wszystkich wskazaniach wymagających stabilnego unieruchomienia nadgarstka i/lub przedramienia.</small></a>
                            <br><br><u>Producent: MEDI</u>
                            <br><a style="float:right;color:red;"><small><u>Możliwość uzyskania refundacji przez NFZ kod: L.048</u></small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>MANUMED T/ MANUMED</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/nadgarstek1.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/nadgarstek1.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body">
                            <a class="card-text"><small><b>Zastosowanie:</b> <br>
                            
                            • To orteza stawu nadgarstkowego z unieruchomieniem kciuka [ Manumed T ]lub wycięciem na kciuk
                            [ Manumed ] stabilizująca nadgarstek. Produkt ma zastosowanie wyłącznie w leczeniu stawu nadgarstkowego.
                            Zapewnia unieruchomienie i stabilizację stawu promieniowo-nadgarstkowego poprzez aluminową 
                            szynę pod dłoń co jest niezbędne przy rekonwalescencji po niektórych urazach ręki. <br>
                            <br>
                            <b>Cechy produktu: </b> <br>
                            
                            • Nieelastyczny, oddychający i odprowadzający wilgoć materiał medi Airtex,<br>
                            • Przesuwana opaska do owijania dookoła stawu nadgarstkowego,<br>
                            • Anatomicznie uformowana, możliwa do dopasowania szyna stabilizująca z aluminium.</small></a>
                            <br><br><u>Producent: MEDI</u>
                            <br><a style="float:right;color:red;"><small><u>Możliwość uzyskania refundacji przez NFZ kod: L.048</u></small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>POLFIT</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/nadgarstek2.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/nadgarstek2.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body">
                            <a class="card-text"><small><b>Zastosowanie:</b> <br>
                            <br>
                            • Choroba zwyrodnieniowa stawu nadgarstkowo – śródręcznego, uszkodzenie stawu śródręczno paliczkowego kciuka,
                            złożone złamania nadgarstka,
                            zapalenia ścięgien nadgarstka, zwyrodnienia stawu promieniowo – nadgarstkowego.<br>
                            <br>
                            <b>Cechy produktu: </b> <br>
                            <br>
                            • Wykonana z oddychającej 3 -wymiarowej tkaniny,<br>
                            • Mocowanie za pomocą klamer i rzepów,<br>
                            • Szyna aluminiowa z możliwością wyjęcia i modelowania (dogiąć ręcznie),<br>
                            • Boczne wzmocnienia.</small></a>
                            <br><br><u>Producent: ORTHO24</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>LIGAFLEX RHIZO</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/nadgarstek3.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/nadgarstek3.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body">
                            <a class="card-text"><small><b>Zastosowanie:</b> <br>
                            <br>
                            • Statyczne unieruchomienie stawu międzypaliczkowego kciuka.
                            Szczególnie polecany przy zmianach zwyrodnieniowych,
                            jako unieruchomienie pooperacyjne oraz w procesie doleczania zwichnięć, złamań kciuka.<br>
                            <br>
                            <b>Cechy produktu: </b> <br>
                            <br>
                            • Perforowana konstrukcja z miękką, oddychającą podszewką i wyściełaniem wokół stawów.</small></a>
                            <br><br><u>Producent: THUASNE</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>LIGAFLEX CLASSIC</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/nadgarstek4.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/nadgarstek4.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body">
                            <a class="card-text"><small><b>Zastosowanie:</b> <br>
                            <br>
                            • Lekkie zwichnięcia nadgarstka (leczenie funkcjonalne), zapalenia ścięgien, stany zapalne podczas chorób reumatycznych,
                            dolegliwości przewlekłe, pourazowe lub pozabiegowe.<br>
                            <br>
                            <b>Cechy produktu: </b> <br>
                            <br>
                            • Solidna stabilizacja nadgarstka dzięki anatomicznemu kształtowi, możliwości dopasowania stalki,<br>
                            • Antybakteryjna dzianina typu 3D, lekka i oddychająca, skutecznie pochłaniająca wilgoć
                            , nadaje się do długotrwałego użytkowania.</small></a>
                            <br><br><u>Producent: THUASNE</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>AM-D-03</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/nadgarstek5.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/nadgarstek5.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body">
                            <a class="card-text"><small><b>Zastosowanie:</b> <br>
                            <br>
                            • Orteza dłoniowa do usztywniania czterech palców dłoni z wyłączeniem kciuka.
                            Wskazana to użytkowania przy uszkodzeniach prostowników palca, w  niektórych typach złamań kości śródręcza,
                            paliczka podstawnego i środkowego. Doskonale stabilizuje staw śródręczno paliczkowy kciuka w minimalnym
                            stopniu ograniczając funkcję ręki.<br>
                            <br>
                            <b>Cechy produktu: </b> <br>
                            <br>
                            • Orteza została wykonana z surowca PowerFIT. Wyroby wykonane z tego surowca skutecznie odciążają zabezpieczone części ciała.
                            Z powodzeniem można je używać do wyczynowego uprawiania sportu w warunkach bardzo ekstremalnych.</small></a>
                            <br><br><u>Producent: REH-4-MAT</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>MANU UNIWERSAL LONG/SHORT</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/nadgarstek6.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/nadgarstek6.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body">
                            <a class="card-text"><small><b>Zastosowanie:</b> <br>
                            <br>
                            • Leczenie urazów nadgarstka i kciuka oraz dystalnego odcinka przedramienia, przewlekłej niestabilności nadgarstka
                            i kciuka z zespołem bólowym, rekonwalescencja po leczeniu operacyj­nym lub zachowawczym, ochrona nadgarstka
                            i kciuka w przy­padku uprawiania sportów lub wykonywania zawodów związa­nych z ryzykiem powstania urazu (przeciążeń).<br>
                            <br>
                            <b>Cechy produktu: </b> <br>
                            <br>
                            • Lekka otwarta konstrukcja,anatomicznie profilowana aluminiowa stalka wzmocniona dodatkowo dwiema fiszbinami,<br>
                            • Profil ortezy zapewniający unieruchomienie stawu nadgarstkowego w pozycji funkcjonalnej,<br>
                            • Trzy paski dociągowe zapewniają prawidłowe dopasowanie do kończyny,miękkie wykończenie gwarantuje komfort użytkowania,<br>
                            • Zaopatrzenie uniwersalne na prawą i lewą rękę.</small></a>
                            <br><br><u>Producent: MDH</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>PROHAND</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/nadgarstek7.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/nadgarstek7.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body">
                            <a class="card-text"><small><b>Zastosowanie:</b> <br>
                            <br>
                            • Doleczanie po urazach stawu nadgarstkowego, profilaktyka przeciążeń nadgarstka,
                            stany zapalne stawu nadgarstkowego, zespoły bólowe stawu nadgarstkowego o różnej etiologii,
                            zmiany zwyrodnieniowe okolicy nadgarstka, ochrona stawu nadgarstkowego przed powtórnymi urazami 
                            przy powrocie do aktywności zawodowej i sportowej.<br>
                            <br>
                            <b>Cechy produktu: </b> <br>
                            <br>
                            • Prosta konstrukcja,orteza wykonana z oddychającej, elastycznej dzianiny z domieszką Lycry®,<br>
                            • Zapięcie za pomocą rzepa,<br>
                            • Uniwersalne zaopatrzenie prawej i lewej kończyny.</small></a>
                            <br><br><u>Producent: MDH</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>ORTEZA KCIUKA Z SZYNA ALUMINIOWĄ SP-208</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/nadgarstek8.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/nadgarstek8.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body">
                            <a class="card-text"><small><b>Zastosowanie:</b> <br>
                            <br>
                            • Szczególnie polecany przy zmianach zwyrodnieniowych,
                            jako unieruchomienie pooperacyjne oraz w procesie doleczania zwichnięć, złamań nadgarstka oraz kciuka.<br>
                            <br>
                            <b>Cechy produktu: </b> <br>
                            <br>
                            • Unikalna wielowarstwowa konstrukcja neoprenu, ze specjalnie zaprojektowanymi
                            mikro-otworami daje uczucie chłodu w miejscu przylegania, <br>
                            • Zapobiega tym samym przegrzaniu skóry oraz powstawaniu nadmiernej ilości
                            wilgoci powodującej dyskomfort użytkowania.</small></a>
                            <br><br><u>Producent: ARMEDICAL</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>STABILIZATOR NADGARSTKA SP-2020</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/nadgarstek9.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/nadgarstek9.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body">
                            <a class="card-text"><small><b>Zastosowanie:</b> <br>
                            <br>
                            • Szczególnie polecany przy przeciążeniu i zesztywnieniu nadgarstka,
                            jako środek prewencyjny zapobiegający urazom.<br>
                            <br>
                            <b>Cechy produktu: </b> <br>
                            <br>
                            • Dzięki zastosowaniu dodatkowej dociągającej taśmy VELCRO, z pelotą, stabilizator stanowi
                            podwójną ochronę przeciążonego stawu. System zapinania oraz użyte materiały gwarantują pełen komfort użytkowania,<br>
                            • Stabilizator Special® wykonany z oddychającego neoprenu, w opatentowanej amerykańskiej 
                            technologii CoolMax AIRPRENE gwarantuje komfort użytkowania dzięki systemowi odprowadzania wilgoci oraz wentylacji skóry.</small></a>
                            <br><br><u>Producent: ARMEDICAL</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg col-md-auto col-sm-auto col-auto">
        <br><br><br><br>
        </div>
        <div class="row no-gutters">
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>STABILIZATOR NADGARSTKA SP-167H</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/nadgarstek10.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/nadgarstek10.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body">
                            <a class="card-text"><small><b>Zastosowanie:</b> <br>
                            <br>
                            • Stanowi dodatkowe wzmocnienie nadgarstka oraz śródręcza, zapewnia ochronę i odciążenie stawu.<br>
                            <br>
                            <b>Cechy produktu: </b> <br>
                            <br>
                            • Wykonany z tkaniny o specjalnym składzie gwarantującym komfort użytkowania,
                            estetyczny wygląd oraz niezwykłą trwałość produktu, tkanina z serii DELUXE COMPRESSION z dodatkiem jedwabiu.</small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
  </div>
</div>

<script>
  $(function () {
    $('#myTab li:last-child a').tab('show')
  })
</script>

{% endblock %}