{% extends 'baza.html' %}

        
{% block content %}

  <div class="card border-light">
    <div class="row no-gutters">
        <div class="col-lg col-md-auto col-sm-auto col-auto">
            <div class="card-block px-2">
                <div class="card-header text-white" style="background-color:#192943;"><a>Kołnierz ortopedyczny miękki typu SCHANTZ</a></div>
                <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                    <img src="/public/kregoslup.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                </div> 
                <div class="flex-container" style="width:100%;display:flex;">
                    <div class="d-none d-sm-block" style="min-width:200px">
                        <img src="/public/kregoslup.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="card-body">
                        <a class="card-text"><small> Stosowany w leczeniu dolegliwości związanych z bólem odcinka szyjnego wymagającego
                        względnego unieruchomienia: <br>
                        • Dyskopatia, <br>
                        • Stany zapalne, <br>
                        • Przeciążenia układu mięsniowo-szkieletowego, <br>
                        • Stany pourazowe. <br></small></a><br><br><u>Producent: MDH</u>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-lg col-md-auto col-sm-auto col-auto">
            <div class="card-block px-2">
                <div class="card-header text-white" style="background-color:#192943;"><a>Kołnierz ortopedyczny półsztywny typu FLORIDA</a></div>
                <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                    <img src="/public/kregoslup1.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                </div> 
                <div class="flex-container" style="width:100%;display:flex;">
                    <div class="d-none d-sm-block" style="min-width:200px">
                        <img src="/public/kregoslup1.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="card-body">
                        <a class="card-text"><small> Stosowany w leczeniu dysfunkcji obszaru szyjnego:<br>
                        • Uszkodzenia mięśni i więzadeł,<br>
                        • Przeciążenia i stany zapalne,<br>
                        • Uszkodzenia krążka międzykręgowego,<br>
                        • Doleczanie stłuczeń, skręceń, złamań, <br>
                        • Dyskopatia.</small></a><br><br><u>Producent: MDH</u>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters"> 
        <div class="col-lg col-md-auto col-sm-auto col-auto">
            <div class="card-block px-2">
                <div class="card-header text-white" style="background-color:#192943;"><a>Kołnierz ortopedyczny sztywny COLLAR STARK</a>
                    <a style="float:right"><small></small></a>
                </div>
                <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                    <img src="/public/kregoslup2.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                </div> 
                <div class="flex-container" style="width:100%;display:flex;">
                    <div class="d-none d-sm-block" style="min-width:200px">
                        <img src="/public/kregoslup2.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="card-body" style="width:50% min-width-400px">
                        <a class="card-text"><small>Stosowany w celu unieruchomienia odcinka szyjnego kręgosłupa. Posiada otwór
                        tracheotomijny oraz<br> otwory dla swobodnego przepływu powietrza. <br>
                        • W stanach pooperacyjnych, <br>
                        • Do stosowania nagłego i transportowego, <br>
                        • Możliwość rozbudowy do ortezy półgorsetowej szyjno-piersiowej lub szyjno-czaszkowej.</small></a>
                        <br><br><u>Producent: MDH</u>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-lg col-md-auto col-sm-auto col-auto">
            <div class="card-block px-2">
                <div class="card-header text-white" style="background-color:#192943;"><a>PREMIUM TLS</a></div>
                <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                    <img src="/public/kregoslup3.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                </div> 
                <div class="flex-container" style="width:100%;display:flex;">
                    <div class="d-none d-sm-block" style="min-width:200px">
                        <img src="/public/kregoslup3.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="card-body">
                        <a class="card-text"><small> Gorset TH-L-S (piersiowo-lędźwiowo-krzyżowy) stosowany w dyskopatii, choroby zwyrodnieniowej, dolegliwości bólowych oraz<br>
                        stabilizacji po zabiegach operacyjnych. <br>
                        Cechy produktu:<br>
                        • Elastyczny materiał nie ogranicza konwekcyjnego odprowadzania ciepła, odprowadza wilgoć z powierzchni skóry,<br>
                        • Cztery elastyczne stalki w części grzbietowej pozwalają na ograniczenie ruchomości i<br> odciążenie elementów mięśniowo-więzadłowych oraz na idealne dopasowanie się ortezy do pacjenta,<br>
                        • Zastosowanie czterech tworzywowych fiszbin w części brzusznej wspomaga stabilizację odcinka lędźwiowo-krzyżowego,<br>
                        </small></a><br><br><u>Producent: MDH</u>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-lg col-md-auto col-sm-auto col-auto">
            <div class="card-block px-2">
                <div class="card-header text-white" style="background-color:#192943;"><a>SPINCARE HIGH PLUS</a></div>
                <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                    <img src="/public/kregoslup4.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                </div> 
                <div class="flex-container" style="width:100%;display:flex;">
                    <div class="d-none d-sm-block" style="min-width:200px">
                        <img src="/public/kregoslup4.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="card-body">
                        <a class="card-text"><small>Gorset TH-L-S (piersiowo-lędźwiowo-krzyżowy) stosowany w ostrych i przewlekłych zespołach bólowych kręgosłupa,
                        dyskopatii,<br> stenozie kanału kręgowego, hiperkifozie piersiowej. <br>
                        Cechy produktu:<br>
                        • Orteza wykonana z elastycznych, rozciągliwych taśm,<br>
                        • Składa się z dwóch części: sznurówki lędźwiowo-krzyżowej oraz prostotrzymacza (dopinany przy pomocy rzepów),<br>
                        • W części lędźwiowo-krzyżowej znajdują się dwie metalowe, profilowane stalki, dwie półelastyczne stalki oraz dwie fiszbiny,<br>
                        w części prostotrzymacza znajdują się dwie możliwe do profilowania stalki,<br>
                        • Miękkie wyściełanie dołu pachowego zapobiegające otarciom i podrażnieniom,<br>
                        </small></a><br><br><u>Producent: MDH</u>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-lg col-md-auto col-sm-auto col-auto">
            <div class="card-block px-2">
                <div class="card-header text-white" style="background-color:#192943;"><a>Spincare Flex</a></div>
                <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                    <img src="/public/kregoslup5.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                </div> 
                <div class="flex-container" style="width:100%;display:flex;">
                    <div class="d-none d-sm-block" style="min-width:200px">
                        <img src="/public/kregoslup5.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="card-body">
                        <a class="card-text"><small>Gorset TH-L-S (piesiowo-lędźwiowo-krzyżowy) stosowany w leczeniu ostrych
                        i przewlekłych schorzeń kręgosłupa, dyskopatii,<br> stabilizacji po zabiegach operacyjnych. <br>
                        Cechy produktu:<br>
                        • Orteza wykonana z elastycznych, rozciągliwych taśm,<br>
                        • Dynamiczna kontrola zakresu ruchu,<br>
                        • Bierną stabilizację zapewnia pięć półelastycznych, wykonanych z tworzywa stalek (stalki wszyto asymetrycznie),<br>
                        • Pełne dopasowanie anatomiczne,<br>
                        • Możliwość regulacji wysokości i siły stabilizacji odcinka T-L-S,<br>
                        </small></a><br><br><u>Producent: MDH</u>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-lg col-md-auto col-sm-auto col-auto">
            <div class="card-block px-2">
                <div class="card-header text-white" style="background-color:#192943;"><a>Prostotrzymacz SPINCARE EXTENSOR</a></div>
                <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                    <img src="/public/kregoslup6.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                </div> 
                <div class="flex-container" style="width:100%;display:flex;">
                    <div class="d-none d-sm-block" style="min-width:200px">
                        <img src="/public/kregoslup6.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="card-body">
                        <a class="card-text"><small>Orteza ta jest stosowana przy wadach postawy, hiperkifozie piersiowego oddcinka kręgosłupa. <br>
                    Cechy produktu:<br>
                    • Bierna stabilizacja kręgosłupa,<br>
                    • Taśmy dociągowe pod klatką piersiową wzmacniają efekt prostowania pleców,<br>
                    • Peloty chroniące doły pachowe.<br>
                    </small></a><br><br><u>Producent: MDH</u>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-lg col-md-auto col-sm-auto col-auto">
            <div class="card-block px-2">
                <div class="card-header text-white" style="background-color:#192943;"><a>Premium S Gorset lędźwiowo-krzyżowy</a></div>
                <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                    <img src="/public/kregoslup7.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                </div> 
                <div class="flex-container" style="width:100%;display:flex;">
                    <div class="d-none d-sm-block" style="min-width:200px">
                        <img src="/public/kregoslup7.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="card-body">
                        <a class="card-text"><small>Stosowany w dysfunkcjach kręgosłupa lędźwiowego, jako stabilizacja po operacji, w profilaktyce przeciążeń zawodowych. <br>
                    Cechy produktu:<br>
                    • Sznurówka wykonana z miękkiej, elastycznej, oddychającej i hipoalergicznej dzianiny,<br>
                    • Dwie półsztywne stalki z tworzywa oraz dwie fiszbiny w części grzbietowej oraz dwie fiszbiny w części brzusznej<br> (umieszczone na pasach dociągowych) zapewniają zewnętrzną stabilizację odcinka lędźwiowo-krzyżowego,<br>
                    • Dodatkowe taśmy dociągowe dają możliwość regulacji docisku grzbietowego z uwzględnieniem poziomu uszkodzenia oraz<br> kontroli kierunku działania dynamicznej korekty postawy.<br>
                    </small></a><br><br><u>Producent: MDH</u>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-lg col-md-auto col-sm-auto col-auto">
            <div class="card-block px-2">
                <div class="card-header text-white" style="background-color:#192943;"><a>LUMBO MEDICAL LIGHT</a></div>
                <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                    <img src="/public/kregoslup8.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                </div> 
                <div class="flex-container" style="width:100%;display:flex;">
                    <div class="d-none d-sm-block" style="min-width:200px">
                        <img src="/public/kregoslup8.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="card-body">
                        <a class="card-text"><small>Stosowany w dyskopatii, niestabilności segmentu LS kręgosłupa, bólach kręgosłupa lędźwioego o różnej etiologii. <br>
                    Cechy produktu:<br>
                    • Elastyczna, przepuszczająca powietrze tkanina,<br>
                    • Zapięcie za pomocą rzepa z szlufkami,<br>
                    • Dodatkowe taśmy dociągowe <br>
                    • 4 stabilizujące stalki w części lędźwiowej,<br>
                    • Regulowane, elastyczne zapinanie.<br>
                    </small></a><br><br><u>Producent: MEYRA MEDICAL</u>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-lg col-md-auto col-sm-auto col-auto">
            <div class="card-block px-2">
                <div class="card-header text-white" style="background-color:#192943;"><a>LUMBAMED BASIC</a></div>
                <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                    <img src="/public/kregoslup9.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                </div> 
                <div class="flex-container" style="width:100%;display:flex;">
                    <div class="d-none d-sm-block" style="min-width:200px">
                        <img src="/public/kregoslup9.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="card-body">
                        <a class="card-text"><small>Stosowany w stabilizacji odcinka lędźwiwego, zmniejszeniu hiperlordozy w omawianym segmencie oraz<br> zredukowaniu dolegliwości bólowych.<br>
                    Cechy produktu:<br>
                    • Tkanina odprowadzająca pot na zewnątrz, oddychająca, co umożliwia stosowanie gorsetu bez podkoszulki,<br>
                    • Łatwa w użyciu, dzięki zintegrowanym szlufkom na dłonie,<br>
                    </small></a><br><br><u>Producent: MEDI</u>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-lg col-md-auto col-sm-auto col-auto">
            <div class="card-block px-2">
                <div class="card-header text-white" style="background-color:#192943;"><a>Pas lędźwiowo – krzyżowy</a></div>
                <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                    <img src="/public/kregoslup10.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                </div> 
                <div class="flex-container" style="width:100%;display:flex;">
                    <div class="d-none d-sm-block" style="min-width:200px">
                        <img src="/public/kregoslup10.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="card-body">
                        <a class="card-text"><small>Stosowany w celu unieruchomienia dolnego segmentu kręgosłupa,<br> w profilaktyce przeciążeń zawodowych jako prewencja wysunięcia się dysku.<br>
                    Cechy produktu:<br>
                    • System taśm zapinających umożliwia dopasowanie siły docisku do indywidualnych potrzeb,<br>
                    • Anatomiczny system usztywnień optymalnie usztywnia odcinek lędźwiowo – krzyżowy kręgosłupa,<br>
                    • Pozwala na swobodne oddychanie skóry,<br>
                    </small></a><br><br><u>Producent: NEOX</u>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-lg col-md-auto col-sm-auto col-auto">
            <div class="card-block px-2">
                <div class="card-header text-white" style="background-color:#192943;"><a>Gorset stabilizujący lędźwiowo-krzyżowy</a></div>
                <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                    <img src="/public/kregoslup11.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                </div> 
                <div class="flex-container" style="width:100%;display:flex;">
                    <div class="d-none d-sm-block" style="min-width:200px">
                        <img src="/public/kregoslup11.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="card-body">
                        <a class="card-text"><small>Stosowany w zmianach zwyrodnieniowych kręgosłupa, kręgozmyku, przeciążeniach o różnej etiologii.<br>
                    Cechy produktu:<br>
                    • 4 stabilizujące stalki w części lędźwiowej,<br>
                    • Regulowane, elastyczne zapinanie.<br>
                    <br><br><u>Producent: PANI TERESA</u></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}

