    <div class="col-lg-2 col-md-2 d-none d-md-block">
          <div class="card border-light" style="width:auto">
          <img class="card-img-top" src="/public/nfz.png" alt="Card image" style="width:150, hight:100">
          <div class="card-body">
            <p class="card-text"><small>Procedura realizacji wniosku na zaopatrzenie w wyroby medyczne.</small></p>
            <a class="btn btn-danger" href="http://127.0.0.1:8000/nfz" role="button">Czytaj więcej</a>
          </div>
          </div>
      </div>
      
      <div class="col-lg-2 col-md-2 col-sm-6 col-6 align-self-center d-md-none">
        <div class="card border-light" style="width:auto,">
          <img class="card-img-top" src="/public/nfz.png" alt="Card image" style="width:auto, hight:auto">
          <div class="card-body">
            <p class="card-text"><small>Procedura realizacji wniosku na zaopatrzenie w wyroby medyczne.</small></p>
            <a class="btn btn-danger" href="http://127.0.0.1:8000/nfz" role="button">Czytaj więcej</a>
          </div>
        </div>
      </div>