{% extends 'baza.html' %}

        
{% block content %}

    <div class="card border-light">
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>Taboret przysznicowy JINNY</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/sanitarny.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/sanitarny.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small>Dane Techniczne:<br>
                            • Szerokość: 35 cm,  <br>     
                            • Głębokość: 35 cm,<br>
                            • Wysokość siedziska: 33 cm,<br>
                            • Średnica u podstawy nóżek : 32 cm,<br>
                            • Regulacja nóg: 15 cm,<br>
                            • Waga: 1,5 kg,<br>
                            • Waga użytkownika: 150 kg.</small></a>
                            <br><br><u>Producent: VERMEIREN</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>Taboret przysznicowy z wycięciem SIDNEY</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/sanitarny1.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/sanitarny1.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small>Dane Techniczne:<br>
                            • Szerokość: 50 cm,  <br>     
                            • Głębokość: 52 cm,<br>
                            • Wysokość siedziska: 35 cm,<br>
                            • Szerokość siedziska : 41 cm,<br>
                            • Regulacja nóg: 15 cm,<br>
                            • Waga: 2 kg,<br>
                            • Waga użytkownika: 150 kg.</small></a>
                            <br><br><u>Producent: VERMEIREN</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>Taboret przysznicowy prostokątny JILL</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/sanitarny2.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/sanitarny2.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small>Dane Techniczne:<br>
                            • Szerokość: 51 cm,  <br>     
                            • Głębokość: 42 cm,<br>
                            • Wysokość siedziska: 35 cm,<br>
                            • Szerokość siedziska : 51 cm,<br>
                            • Regulacja nóg: 15 cm,<br>
                            • Waga: 2 kg,<br>
                            • Waga użytkownika: 150 kg.</small></a>
                            <br><br><u>Producent: VERMEIREN</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>Taboret prysznicowy z wycięciem z oparciem MELBOURNE</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/sanitarny3.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/sanitarny3.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small>Dane Techniczne:<br>
                            • Szerokość: 48 cm,  <br>     
                            • Głębokość: 56 cm,<br>
                            • Wysokość: 72cm,<br>
                            • Wysokość siedziska: 35 cm,<br>
                            • Szerokość siedziska : 41 cm,<br>
                            • Regulacja nóg: 15 cm,<br>
                            • Waga: 2,8 kg,<br>
                            • Waga użytkownika: 150 kg.</small></a>
                            <br><br><u>Producent: VERMEIREN</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>Taboret prysznicowy prostokątny z oparciem LILLY</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/sanitarny4.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/sanitarny4.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small>Dane Techniczne:<br>
                            • Szerokość: 51 cm,  <br>     
                            • Głębokość: 42 cm,<br>
                            • Wysokość: 72cm,<br>
                            • Wysokość siedziska: 35 cm,<br>
                            • Szerokość siedziska : 51 cm,<br>
                            • Regulacja nóg: 15 cm,<br>
                            • Waga: 3 kg,<br>
                            • Waga użytkownika: 150 kg.</small></a>
                            <br><br><u>Producent: VERMEIREN</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>Taboret prysznicowy składany do ściany GRACE</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/sanitarny5.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/sanitarny5.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small>Dane Techniczne:<br>
                            • Szerokość: 48 cm,  <br>     
                            • Głębokość: 41 cm,<br>
                            • Wysokość: 53cm,<br>
                            • Wysokość siedziska: 39-54 cm,<br>
                            • Szerokość siedziska : 48 cm,<br>
                            • Regulacja nóg: 15 cm,<br>
                            • Waga: 3 kg,<br>
                            • Waga użytkownika: 130 kg.</small></a>
                            <br><br><u>Producent: VERMEIREN</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>Ławeczka nawannowa, kąpielowa z obracanym dyskiem VERA</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/sanitarny6.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/sanitarny6.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small>Dane Techniczne:<br>
                            • Szerokość: 72,8 cm,  <br>     
                            • Głębokość: 35,4 cm,<br>
                            • Wysokość: 7 cm,<br>
                            • Średnica dysku: 32,1 cm,<br>
                            • Wewnętrzna szerokość wanny: 56-68 cm,<br>
                            • Waga: 3,75 kg,<br>
                            • Waga użytkownika: 130 kg.</small></a>
                            <br><br><u>Producent: VERMEIREN</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>Siedzisko kąpielowe, nawannowe, obracane MAGDA</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/sanitarny7.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/sanitarny7.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small>Dane Techniczne:<br>
                            • Szerokość: 73 cm,  <br>     
                            • Głębokość: 53 cm,<br>
                            • Wysokość: 52 cm,<br>
                            • Szerokość siedziska: 48 cm,<br>
                            • Głębokość siedziska: 38 cm,<br>
                            • Waga: 5,5 kg,<br>
                            • Waga użytkownika: 130 kg.</small></a>
                            <br><br><u>Producent: VERMEIREN</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>Uchwywty przy toalecie LIDDY</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/sanitarny8.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/sanitarny8.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small>Dane Techniczne:<br>
                            • Szerokość: 56 cm,  <br>     
                            • Głębokość: 47 cm,<br>
                            • Wysokość: 73 cm,<br>
                            • Regulacja nóg: 10 cm,<br>
                            • Waga: 1,45 kg,<br>
                            • Waga użytkownika: 113 kg.</small></a>
                            <br><br><u>Producent: VERMEIREN</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>Nasadka na tolaletę z podłokietnikami TINA</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/sanitarny9.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/sanitarny9.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small>Dane Techniczne:<br>
                            • Szerokość: 52 cm,  <br>     
                            • Głębokość: 43 cm,<br>
                            • Wysokość: 38 cm,<br>
                            • Szerokość siedziska: 45cm,<br>
                            • Regulacja szerokości: 0,5-9 cm,<br>
                            • Waga: 2,5 kg,<br>
                            • Waga użytkownika: 136 kg.</small></a>
                            <br><br><u>Producent: VERMEIREN</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>Taboret prysznicowy okrągły – obrotowy</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/sanitarny10.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/sanitarny10.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small>Dane Techniczne:<br>
                            • Rama aluminiowa,  <br>     
                            • Element obrotowy - materiał antypoślizgowy,<br>
                            • Wysokość: 37-52 cm,<br>
                            • Szerokość siedziska: 33cm,<br>
                            • Waga: 1,9 kg,<br>
                            • Waga użytkownika: 110 kg.</small></a>
                            <br><br><u>Producent: ARMEDICAL</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>Podnóżek – taboret prysznicowy</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/sanitarny11.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/sanitarny11.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small>Dane Techniczne:<br>
                            • Rama aluminiowa,  <br>     
                            • Stabilna i wytrzymała konstrukcja,<br>
                            • Wysokość: 21-26 cm,<br>
                            • Wysokość siedziska: 22,5 x 41 cm,<br>
                            • Waga: 1,7 kg,<br>
                            • Waga użytkownika: 160 kg.</small></a>
                            <br><br><u>Producent: ARMEDICAL</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>Krzesło toaletowe – składane</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/sanitarny12.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/sanitarny12.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small>Dane Techniczne:<br>
                            • Rama stalowa lakierowana,  <br>     
                            • Stabilna i wytrzymała konstrukcja,<br>
                            • Wysokość: 40-55 cm,<br>
                            • Szerokość siedziska: 50 cm,<br>
                            • Głębokość siedziska: 37 cm,<br>
                            • Waga: 6 kg,<br>
                            • Waga użytkownika: 136 kg.</small></a>
                            <br><br><u>Producent: ARMEDICAL</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>Ławka nawannowa – wgłębna</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/sanitarny13.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/sanitarny13.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small>Dane Techniczne:<br>
                            • Rama aluminiowa,  <br>     
                            • Stabilna i wytrzymała konstrukcja,<br>
                            • Wymiar siedziska: 41 x 22 cm,<br>
                            • Do szerokości wanny: 52 – 61 cm,<br>
                            • Waga: 1,5 kg,<br>
                            • Waga użytkownika: 110 kg.</small></a>
                            <br><br><u>Producent: ARMEDICAL</u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

{% endblock %}

