{% extends 'baza.html' %}

        
{% block content %}

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">CIŚNIENIOMIERZE</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">TERMOMETRY</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">PULSOKSYMETRY</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="next-tab" data-toggle="tab" href="#next" role="tab" aria-controls="next" aria-selected="false">INHALATORY</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="card border-light">
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;width:100%;"><a>Ciśnieniomierz Microlife BP A 150 Afib</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/cisnieniomierz.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/cisnieniomierz.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small><b>Cechy produktu:</b> <br>
                            <br>
                            • Ciśnieniomierz automatyczny, naramienny,<br>
                            • Wskaźnik arytmii,<br>
                            • Pamięć ostatniego pomiaru,<br>
                            • Technologia Afib ( wysoka dokładność wykrywania migotania przedsionków, aby zapobiec udarowi mózgu),<br>
                            • Technologia MAM ( uśrednianie 3 wyników pomiaru ),<br>
                            • Baterie w zestawie,<br>
                            • 5 lat gwarancji.<br></small></a>
                            <br><br><u>Producent: MICROLIFE </u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;width:100%;"><a>Ciśnieniomierz Microlife BP A2 Basic</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/cisnieniomierz1.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/cisnieniomierz1.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small><b>Cechy produktu:</b> <br>
                            <br>
                            • Ciśnieniomierz automatyczny, naramienny,<br>
                            • Wskaźnik arytmii,<br>
                            • Baterie i zasilacz w zestawie,<br>
                            • Pamięć 30 pomiarów wraz z datą i godziną,<br>
                            • 5 lat gwarancji.<br></small></a>
                            <br><br><u>Producent: MICROLIFE </u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;width:100%;"><a>Ciśnieniomierz Microlife BP A7 Touch</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/cisnieniomierz2.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/cisnieniomierz2.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small><b>Cechy produktu:</b> <br>
                            <br>
                            • Ciśnieniomierz naramienny, automatyczny,<br>
                            • Posiada ekran dotykowy,<br>
                            • Technologia AFIB - Wykrywanie migotania przedsionków,<br>
                            • Obliczanie średniej ze wszystkich pomiarów,<br>
                            • Blokada ekranu,<br>
                            • Pamięć dla 2 użytkowników po 99 pomiarów,<br>
                            • Tryb MAM ( uśrednianie 3 wyników pomiaru ),<br>
                            • Zasilacz gratis,<br>
                            • 5 lat gwarancji.<br></small></a>
                            <br><br><u>Producent: MICROLIFE </u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>Ciśnieniomierz Microlife BP W90</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/cisnieniomierz3.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/cisnieniomierz3.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small><b>Cechy produktu:</b> <br>
                            <br>
                            • Ciśnieniomierz automatyczny, nadgarstkowy,<br>
                            • Pomiar ciśnienia krwi i pulsu,<br>
                            • Technologia PAD (wykrywanie arytmii),<br>
                            • 2 x 99 pamięci,<br>
                            • Baterie w zesatawie.<br></small></a>
                            <br><br><u>Producent: MICROLIFE </u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>Ciśnieniomierz Microlife AG1-20</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/cisnieniomierz4.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/cisnieniomierz4.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small><b>Cechy produktu:</b> <br>
                            <br>
                            • Ciśnieniomierz mechaniczny, naramienny,<br>
                            • Wysokiej jakości manometr,<br>
                            • Stetoskop,<br>
                            • Profesjonalny mankiet,<br>
                            • Gruszka i zawór,<br>
                            • W komplece etui do transportu.<br></small></a>
                            <br><br><u>Producent: MICROLIFE </u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>Ciśnieniomierz Rossmax X5 BT</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/cisnieniomierz5.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/cisnieniomierz5.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small><b>Cechy produktu:</b> <br>
                            <br>
                            • Ciśnieniomierz automatyczny, naramienny,<br>
                            • Technologia Bluetooth o niskim poborze energii,<br>
                            • Wykrywanie arytmii (ARR),<br>
                            • Wykrywanie migotania przedsionków (AFib),<br>
                            • Wykrywanie przedwczesnych skurczów (PC),<br>
                            • Czujnik ruchu,<br>
                            • Wskaźnik poprawnie założonego mankietu,<br>
                            • Wskaźnik ryzyka nadciśnienia,<br>
                            • Średnia z ostatnich 3 pomiarów,<br>
                            • Średnia z 7 dni pomiarów porannych i wieczornych,<br>
                            • Pamięć 120 wyników dla 2 użytkowników z datą i czasem pomiaru.<br></small></a>
                            <br><br><u>Producent: ROSSMAX </u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>Ciśnieniomierz Rossmax X1</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/cisnieniomierz6.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/cisnieniomierz6.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small><b>Cechy produktu:</b> <br>
                            <br>
                            • Ciśnieniomierz automatyczny, naramienny,<br>
                            • Czujnik ruchu,<br>
                            • Wskaźnik poprawnie założonego mankietu,<br>
                            • Wskaźnik ryzyka nadciśnienia,<br>
                            • Pamięć ostatniego pomiaru,<br>
                            • Automatyczna obsługa za pomocą jedengo przycisku,<br>
                            • Opatentowany, ergonomiczny mankiet uniwersalny bez lateksu.<br></small></a>
                            <br><br><u>Producent: ROSSMAX </u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>Ciśnieniomierz Meriden Xlive3</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/cisnieniomierz7.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/cisnieniomierz7.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small><b>Cechy produktu:</b> <br>
                            <br>
                            • Ciśnieniomierz automatyczny, naramienny,<br>
                            • Dwa indywidualne obszary pamięci, <br>
                            • Automatyczne wyłączanie,<br>
                            • Podświetlany wyświetlacz, <br>
                            • Zasilacz w zestawie.<br></small></a>
                            <br><br><u>Producent: MERIDEN </u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="card border-light">
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;width:100%;"><a>TERMOMETR MT 16F1</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/termometr.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/termometr.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small><b>Cechy produktu:</b> <br>
                            <br>
                            • Sygnał dźwiękowy,<br>
                            • Pamięć, <br>
                            • Zakres pomiarowy +/- 0,1°C,<br>
                            • Auto wyłączanie,<br>
                            • Auto test działania.<br></small></a>
                            <br><br><u>Producent: MICROLIFE </u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>TERMOMETR NC 150</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/termometr1.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/termometr1.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small><b>Cechy produktu:</b> <br>
                            <br>
                            • Bezdotykowy pomiar temperatury,<br>
                            • Wielofunkcyjny (ciało, obiekt, otoczenie),<br>
                            • Wskaźnik miejsca pomiaru,<br>
                            • Duży podświetlany wyświetlacz,<br>
                            • Testowany klinicznie,<br>
                            • Wyświetlanie daty i godziny,<br>
                            • 30 pamięci wraz z datą i godziną pomiaru.<br></small></a>
                            <br><br><u>Producent: MICROLIFE </u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>TERMOMETR HD 500</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/termometr2.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/termometr2.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small><b>Cechy produktu:</b> <br>
                            <br>
                            • Pomiar z odległości do 5 cm (2 cale) w 1 sekundę,<br>
                            • Alarm gorączki,<br>
                            • Pamięć 9 pomiarów,<br>
                            • Możliwość zmiany jednostki °C / °F,<br>
                            • Podświetlany wyświetlacz,<br>
                            • Automatyczne wyłączanie,<br>
                            • Wskaźnik słabej baterii.<br></small></a>
                            <br><br><u>Producent: ROSSMAX </u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>TERMOMETR BABY TEMP +</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/termometr3.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/termometr3.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small><b>Cechy produktu:</b> <br>
                            <br>
                            • Bezdotykowy pomiar temperatury w czasie 1 sekundy,<br>
                            • Uniwersalny termometr do pomiaru ciała, otoczenia i płynu,<br>
                            • Dokładność pomiaru na poziomie +/- 0,2°,<br>
                            • Możliwość kontroli temperatury podczas snu dziecka,<br>
                            • Kompres żelowy, sprzyjający obniżeniu temperatury podczas gorączki,<br>
                            • Uniwersalny kompres do stosowania na zimno i gorąco w zależności od rodzaju dolegliwości, schorzenia i urazu.<br></small></a>
                            <br><br><u>Producent: SANITY </u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
    <div class="card border-light">
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>PULSOKSYMETR OXY 300</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/pulsoksymetr.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/pulsoksymetr.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small><b>Cechy produktu:</b> <br>
                            <br>
                            • Poziom nasycenia tlenem hemoglobiny oraz pomiar tętna,<br>
                            • Duży i czytelny wyświetlacz OLED,<br>
                            • Kompaktowe rozmiary, lekki, przenośny i wygodny,<br>
                            • 6 trybów wyświetlania,<br>
                            • Regulacja jasności wyświetlacza,<br>
                            • Precyzyjny i bezpieczny - testowany klinicznie (posiada certyfikat medyczny).<br></small></a>
                            <br><br><u>Producent: MICROLIFE </u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>PULSOKSYMETR YK-81C</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/pulsoksymetr1.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/pulsoksymetr1.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small><b>Cechy produktu:</b> <br>
                            <br>
                            • Umożliwia dokonanie szybkiego, łatwego i bezinwazyjnego pomiaru zarówno pulsu (PR), jak i poziomu tlenu we krwi (SpO2),<br>
                            • Posiada duży wyświetlacz typu OLED – dwa wyraźne kolory,<br>
                            • Lekki – waży zaledwie 50 g (razem z bateriami),<br>
                            • Wygodny w obsłudze- wystarczy nałożyć na palec i nacisnąć jeden przycisk,<br>
                            • Funkcja alarmu dźwiękowego po przekroczeniu ustawionego górnego lub dolnego zakresu poziomu saturacji oraz tętna (może być wyłączona),<br>
                            • Wskaźnik stanu baterii,<br>
                            • Funkcja automatycznego wyłączenia po 8 sekundach braku sygnału.<br></small></a>
                            <br><br><u>Producent: REHA FUND </u>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
  </div>
  <div class="tab-pane" id="next" role="tabpanel" aria-labelledby="next-tab">
    <div class="card border-light">
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>INHALATOR MEMBRANOWY NEB800</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/inhalator.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/inhalator.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small><b>Cechy produktu:</b> <br>
                            <br>
                            • Przenośny membranowy inhalator ( wyposażony w technologię MESH),<br>
                            • Niezwykle cichy i lekki,<br>
                            • Niewielkie rozmiary cząsteczek rozpylanego leku,<br>
                            • Można nim podawać wszystkie leki do inhalacji za wyjątkiem NEBUDOSE Hialurnic i Hypertonic.<br><br>
                            <b>Dane Techniczne:</b> <br><br>
                            • Wydajność aerozolu: 0,2 ml/min,<br>
                            • Wielkość cząsteczki: ≈ 5 μm (MMAD),<br>
                            • Częstotliwość ultradźwiękowa: 103 ~ 123 kHz ± 1k,<br>
                            • Maksymalna głośność pracy: < 30 dBA,<br>
                            • Pojemność zbiornika na lek: min. 2 ml; max. 8 ml,<br>
                            • Warunki pracy: 10 – 40 °C / 50 – 104 °F,<br>
                            • Maksymalna wilgotność względna 30 – 80 %,<br>
                            • Warunki przechowywania: -20 – +70 °C / -4 – 158 °F,<br>
                            • Maksymalna wilgotność względna 10 – 85 %,<br>
                            • Waga: 130 g (bez baterii),<br>
                            • Wymiary: 121 x 44 x 59 mm,<br>
                            • Automatyczne wyłączanie po zużyciu płynu z zasobnika,<br>
                            • Źródło napięcia: 2 x 1,5 V baterie alkaliczne; rozmiar AA.<br></small></a>
                            <br><u>Producent: MICROLIFE </u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>INHALATOR PNEUMATYCZNO-TŁOKOWY NEB 400</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/inhalator1.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/inhalator1.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small><b>Cechy produktu:</b> <br><br>
                            • Wspomaga leczenie infekcji górnych i dolnych dróg oddechowych,<br>
                            • Przyjazny dla dzieci design.<br><br>

                            <b>Dane Techniczne:</b> <br><br>
                            • Wydajność aerozolu:0,4 ml/min.(NaCl 0,9%),<br>
                            • Wielkość cząsteczek: 71,2 %<5 μm (3,16 μm MMAD),<br>
                            • Maksymalny swobodny przepływ powietrza: 15 l/min,<br>
                            • Operacyjny przepływ powietrza: 5,31 l/min,<br>
                            • Odgłos pracy: 52 dBA,<br>
                            • Zasilanie elektryczne: 230 V 50 HZ AC,<br>
                            • Długość kabla sieciowego: 1,6 m,<br>
                            • Pojemność zbiornika na lek: min.2 ml; max. 8 ml,<br>
                            • Ilość osadu: 0,8 ml,<br>
                            • Tryb pracy: 30 min. pracy/30 min. odpoczynku.<br></small></a>
                            <br><u>Producent: MICROLIFE </u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a> INHALATOR PNEUMATYCZNO-TŁOKOWY NEB 10A</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/inhalator2.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/inhalator2.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small><b>Cechy produktu:</b> <br><br>
                            • Przeznaczony do pracy ciągłej,<br>
                            • Zesatw inhalacyjny umożliwia inhalację dróg oddechowych oraz irygację zatok przynosowych i czołowych.<br><br>

                            <b>Dane Techniczne:</b> <br><br>
                            • Wydajność aerozolu: 5.58 ml/min. (NaCI 0.9%),<br>
                            • Wielkość cząstek: 94 % >10 μm NaCI 0.9% 34.9 μm (MMD z 0.9% NaCl przy Cascade Impactor),<br>
                            • Nebulizator,<br>
                            • Wydajność aerozolu: 0.55 ml/min. (NaCI 0.9%),<br>
                            • Wielkość cząstek: 75% < 5 μm NaCI 0.9% 2.83 μm (MMD z 0.9% NaCl przy Cascade Impactor),<br>
                            • Wydajność nawiewu: 15 l/min,<br>
                            • Odgłos pracy: 52 dBA,<br>
                            • Zasilanie elektryczne: 230V~ / 50Hz / 150VA,<br>
                            • Długość kabla sieciowego: 1.5 m.<br></small></a>
                            <br><u>Producent: MICROLIFE </u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>INHALATOR KOMPRESOWY NEB 200</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/inhalator3.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/inhalator3.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small><b>Cechy produktu:</b> <br><br>
                            • Kompresor gwarantujący cichą i niezawodną pracę,<br>
                            • Nadaje się do inhalacji kortykosteroidów (Nie zawiera ftalanu ani bisfenolu A).<br><br>

                            <b>Dane Techniczne:</b> <br><br>
                            • Wydajność aerozolu: 0.4 ml/min. (NaCI 0.9%),<br>
                            • Wielkość cząstek: 71.2% < 5 μm 3.16 μm (MMAD),<br>
                            • Maksymalny swobodny przepływ powietrza: 15 l/min,<br>
                            • Operacyjny przepływ powietrza: 5.31 l/min,<br>
                            • Maksymalna głośność pracy: 52 dBA,<br>
                            • Zasilanie elektryczne: 230V 50 Hz AC,<br>
                            • Długość kabla sieciowego: 1.6 m,<br>
                            • Pojemność zbiornika na lek: min. 2 ml; max. 8 ml,<br>
                            • Ilość osadu: 0.8 ml,<br>
                            • Tryb pracy: 30 min. pracy / 30 min. odpoczynku.<br></small></a>
                            <br><u>Producent: MICROLIFE </u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters"> 
            <div class="col-lg col-md-auto col-sm-auto col-auto">
                <div class="card-block px-2">
                    <div class="card-header text-white" style="background-color:#192943;"><a>INHALATOR SIMPLE</a>
                    </div>
                    <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                        <img src="/public/inhalator4.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="flex-container" style="width:100%;display:flex;">
                        <div class="d-none d-sm-block" style="min-width:200px">
                            <img src="/public/inhalator4.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                        </div> 
                        <div class="card-body" style="width:50% min-width-400px">
                            <a class="card-text"><small><b>Cechy produktu:</b> <br><br>
                            • Umożliwia szybkie podanie leku przy infekcjach dróg oddechowych,<br>
                            • Uniwersalny, dla całej rodziny, z możliwością wyposażenia w dodatkowe końcówki dla dzieci i dorosłych,<br>
                            • Możliwość podania wszystkich rodzajów leków, z wyjątkiem oleistych.<br><br>

                            <b>Dane Techniczne:</b> <br><br>
                            • Średnia wydajność nebulizacji: 0,35 ml/min (przy 4ml roztworu NaCl),<br>
                            • MMAD (wymiar cząsteczek): 2,44µm,<br>
                            • GSD (miara dyspersji rozkładu wielkości cząstek aerozolu): 2,44,<br>
                            • Waga: 1,45 kg,<br>
                            • Wymiary (dł/wys/gł): 130 x 89 x 146 mm,<br>
                            • Poziom hałasu: 60dB,<br>
                            • Min. pojemność nebulizatora: 2 ml,<br>
                            • Cykl: 20 min pracy / 40 min przerwy.<br></small></a>
                            <br><u>Producent: SANITY </u>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    </div>
  </div>
</div>

<script>
  $(function () {
    $('#myTab li:last-child a').tab('show')
  })
</script>

{% endblock %}