{% extends 'baza.html' %}

        
{% block content %}
<div class="card border-light">
    <div class="row no-gutters"> 
        <div class="col-lg col-md-auto col-sm-auto col-auto">
            <div class="card-block px-2">
                <div class="card-header text-white" style="background-color:#192943;"><a>Wózek stalowy BASIC PLUS</a>
                </div>
                <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                    <img src="/public/wozki.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                </div> 
                <div class="flex-container" style="width:100%;display:flex;">
                    <div class="d-none d-sm-block" style="min-width:200px">
                        <img src="/public/wozki.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="card-body" style="width:50% min-width-400px">
                        <a class="card-text"><small>Dane Techniczne:<br>
                        <br>
                        • Podnóżki odchylane i zdejmowane,<br>
                        • Zabezpieczający pas pod łydkami,<br>
                        • Wysokość regulowana,<br>
                        • Przednie koła pełne, rozmiar 200 x 45,<br>
                        • Tylne koła pompowane rozmiar 24’’,<br>
                        • Wyposażony w hamulce wałkowe,<br>
                        • Szerokość siedziska: 40/45/50cm,<br>
                        • Waga wózka: 18,5/19/20kg,<br>
                        • Maksymalne obciążenie 120kg.</small></a></small></a>
                        <br><br><u>Producent: MDH</u>
                        <a style="float:right;color:red;"><small><u>Możliwość uzyskania refundacji przez NFZ kod: P.127</u></small></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters"> 
        <div class="col-lg col-md-auto col-sm-auto col-auto">
            <div class="card-block px-2">
                <div class="card-header text-white" style="background-color:#192943;"><a>Wózek stalowy JAZZ S50</a>
                </div>
                <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                    <img src="/public/wozki1.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                </div> 
                <div class="flex-container" style="width:100%;display:flex;">
                    <div class="d-none d-sm-block" style="min-width:200px">
                        <img src="/public/wozki1.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="card-body" style="width:50% min-width-400px">
                        <a class="card-text"><small>Dane Techniczne:<br>
                        • Podnóżki odchylane i zdejmowane,<br>
                        • Podłokietniki odchylane i wyciągane,,<br>
                        • Wysokość regulowana,<br>
                        • Przednie koła krypton lub pompowane,<br>
                        • Tylne koła krypton lub pompowane,<br>
                        • Koła na szybkozłączce,<br>
                        • Szerokość siedziska: 39/42/44/46/48/50cm,<br>
                        • Waga wózka: 16,6kg,<br>
                        • Maksymalne obciążenie 130kg.</small></a>
                        <br><br><u>Producent: VERMEIREN</u>
                        <a style="float:right;color:red;"><small><u>Możliwość uzyskania refundacji przez NFZ kod: P.127</u></small></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters"> 
        <div class="col-lg col-md-auto col-sm-auto col-auto">
            <div class="card-block px-2">
                <div class="card-header text-white" style="background-color:#192943;"><a>Wózek aluminiowy FELIZ</a>
                </div>
                <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                    <img src="/public/wozki2.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                </div> 
                <div class="flex-container" style="width:100%;display:flex;">
                    <div class="d-none d-sm-block" style="min-width:200px">
                        <img src="/public/wozki2.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="card-body" style="width:50% min-width-400px">
                        <a class="card-text"><small>Dane Techniczne:<br>
                        • Miękka, gąbkowa poduszka,<br>
                        • Podnóżki zaopatrzone w pasy zabezpieczające stopy,<br>
                        • Pas biodrowy zabezpieczający przed wypadnięciem,<br>
                        • Koła przednie bezobsługowe, rozmiar 200x50,<br>
                        • Koła tylne pompowane wyposażone w system szybkiego demontażu, rozmiar 24,<br>
                        • Podwójny system hamowania (dla pacjenta i dla opiekuna),<br>
                        • Szerokość siedziska: 40/45//50cm,<br>
                        • Waga wózka: 16kg,<br>
                        • Maksymalne obciążenie 140kg.</small></a>
                        <br><br><u>Producent: MDH</u>
                        <a style="float:right;color:red;"><small><u>Możliwość uzyskania refundacji przez NFZ kod: P.127</u></small></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters"> 
        <div class="col-lg col-md-auto col-sm-auto col-auto">
            <div class="card-block px-2">
                <div class="card-header text-white" style="background-color:#192943;"><a>Wózek stalowy ELEGANT</a>
                </div>
                <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                    <img src="/public/wozki3.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                </div> 
                <div class="flex-container" style="width:100%;display:flex;">
                    <div class="d-none d-sm-block" style="min-width:200px">
                        <img src="/public/wozki3.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="card-body" style="width:50% min-width-400px">
                        <a class="card-text"><small>Dane Techniczne:<br>
                        • Dostępne kolory:srebrny, niebieski, czerwony,<br>
                        • Do wyboru koła pompowane lub koła pelne,<br>
                        • Dodatkowa miękka, oddychająca tapicerka siatkowa Mesh zapinana na rzepy,<br>
                        • Uchylne i odpinane podnóżki z regulacją wysokości,<br>
                        • Stopki dla opiekuna umożliwiające wspomaganie podnoszenia wózka stopą (podjazdy na krawężnik),<br>
                        • Hamulec dla pacjenta,<br>
                        • Szerokość siedziska: 41/43/46/48/50cm,<br>
                        • Waga wózka: 18kg,<br>
                        • Maksymalne obciążenie 120kg.</small></a>
                        <br><br><u>Producent: ARMEDICAL</u>
                        <a style="float:right;color:red;"><small><u>Możliwość uzyskania refundacji przez NFZ kod: P.127</u></small></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters"> 
        <div class="col-lg col-md-auto col-sm-auto col-auto">
            <div class="card-block px-2">
                <div class="card-header text-white" style="background-color:#192943;"><a>Wózek aluminiowy D200</a>
                </div>
                <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                    <img src="/public/wozki4.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                </div> 
                <div class="flex-container" style="width:100%;display:flex;">
                    <div class="d-none d-sm-block" style="min-width:200px">
                        <img src="/public/wozki4.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="card-body" style="width:50% min-width-400px">
                        <a class="card-text"><small>Dane Techniczne:<br>
                        • Koła tylne w bloku aluminiowym na szybkozłączce z odblaskami,<br>
                        • Podnóżki ściągane i odchylane na zewnątrz i do wewnątrz,<br>
                        • Podłokietniki odchylane za oparcie i wyciągane,<br>
                        • Możliwość zmiany wysokości podparcia pod łokieć,<br>
                        • Możliwość zmiany kąta płyty podnóżka,<br>
                        • Możliwość zaadoptowania wózka dla osób po amputacji kończyn,<br>
                        • Szerokość siedziska: 38/40/42/44/46/48/50cm,<br>
                        • Waga wózka: 14,3kg,<br>
                        • Maksymalne obciążenie 130kg.</small></a>
                        <br><br><u>Producent: VERMEIREN</u>
                        <a style="float:right;color:red;"><small><u>Możliwość uzyskania refundacji przez NFZ kod: P.129</u></small></a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="row no-gutters"> 
        <div class="col-lg col-md-auto col-sm-auto col-auto">
            <div class="card-block px-2">
                <div class="card-header text-white" style="background-color:#192943;"><a>Wózek aluminiowy CAMELEON </a>
                </div>
                <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                    <img src="/public/wozki5.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                </div> 
                <div class="flex-container" style="width:100%;display:flex;">
                    <div class="d-none d-sm-block" style="min-width:200px">
                        <img src="/public/wozki5.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="card-body" style="width:50% min-width-400px">
                        <a class="card-text"><small>Dane Techniczne:<br>
                        • Demontowalna tapicerka o kompozycji kolorów czarno-czerwonym lub czarno-niebieskim<br>
                        • Poduszka przeciwodleżynowa<br>
                        • Tylne kółka antywywrotne,<br>
                        • Pas zabezpieczający pod łydki,<br>
                        • Podwójny system hamowania (dla pacjenta i dla opiekuna)<br>
                        • Koła tylne pompowane wyposażone w system szybkiego demontażu, rozmiar 24 x 1 ¾ ”<br>
                        • Szerokość siedziska: 40/45/50cm,<br>
                        • Waga wózka: 16kg,<br>
                        • Maksymalne obciążenie 125kg.</small></a>
                        <br><br><u>Producent: MDH</u>
                        <a style="float:right;color:red;"><small><u>Możliwość uzyskania refundacji przez NFZ kod: P.129</u></small></a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="row no-gutters"> 
        <div class="col-lg col-md-auto col-sm-auto col-auto">
            <div class="card-block px-2">
                <div class="card-header text-white" style="background-color:#192943;"><a>Wózek aluminiowy KARMA S-ERGO 125 </a>
                </div>
                <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                    <img src="/public/wozki6.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                </div> 
                <div class="flex-container" style="width:100%;display:flex;">
                    <div class="d-none d-sm-block" style="min-width:200px">
                        <img src="/public/wozki6.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="card-body" style="width:50% min-width-400px">
                        <a class="card-text"><small>Dane Techniczne:<br>
                        • Odczepiane podnóżki,<br>
                        • Poduszka przeciwodleżynowa<br>
                        • Składane oparcie tylne,<br>
                        • Koła przednie i tylne lane,<br>
                        • Podwójny krzyżak,<br>
                        • Dostępne kolory: srebrny i czerwony,<br>
                        • Szerokość siedziska: 41/46cm,<br>
                        • Waga wózka: 14,5kg,<br>
                        • Maksymalne obciążenie 120kg.</small></a>
                        <br><br><u>Producent: ANTAR</u>
                        <a style="float:right;color:red;"><small><u>Możliwość uzyskania refundacji przez NFZ kod: P.129</u></small></a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="row no-gutters"> 
        <div class="col-lg col-md-auto col-sm-auto col-auto">
            <div class="card-block px-2">
                <div class="card-header text-white" style="background-color:#192943;"><a>Wózek aluminiowy Eclips X2</a>
                </div>
                <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                    <img src="/public/wozki7.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                </div> 
                <div class="flex-container" style="width:100%;display:flex;">
                    <div class="d-none d-sm-block" style="min-width:200px">
                        <img src="/public/wozki7.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="card-body" style="width:50% min-width-400px">
                        <a class="card-text"><small>Dane Techniczne:<br>
                        • Odczepiane podnóżki,<br>
                        • Łamane rączki do pchania, <br>
                        • Hamulce dla osoby towarzyszącej,<br>
                        • Wygodna poduszka na siedzisko i oparcie,<br>
                        • Możliwość zmiany środka ciężkości,<br>
                        • Opony przednie i tylne bezdętkowe-KRYPTON,<br>
                        • Szerokość siedziska: 38/40/42/44/46/48/50/52cm,<br>
                        • Waga wózka: 14,5/15,5kg,<br>
                        • Maksymalne obciążenie 130kg.</small></a>
                        <br><br><u>Producent: VERMEIREN</u>
                        <a style="float:right;color:red;"><small><u>Możliwość uzyskania refundacji przez NFZ kod: P.129</u></small></a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="row no-gutters"> 
        <div class="col-lg col-md-auto col-sm-auto col-auto">
            <div class="card-block px-2">
                <div class="card-header text-white" style="background-color:#192943;"><a>Wózek aluminiowy D200 Hem2</a>
                </div>
                <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                    <img src="/public/wozki8.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                </div> 
                <div class="flex-container" style="width:100%;display:flex;">
                    <div class="d-none d-sm-block" style="min-width:200px">
                        <img src="/public/wozki8.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="card-body" style="width:50% min-width-400px">
                        <a class="card-text"><small>Dane Techniczne:<br>
                        • Dedykowane dla osób po udarach mózgu,<br>
                        • Podłokietnik wykonany w technologi próźniowej, <br>
                        • Dodatkowe pasy stabilizacyjne,<br>
                        • Blokada kół przy użyciu tylko jednej ręki,<br>
                        • Możliwość zmiany środka ciężkości,<br>
                        • Koła pompowane lub pełne,<br>
                        • Szerokość siedziska: 38/40/42/44/46/48/50cm,<br>
                        • Waga wózka: 16,8kg,<br>
                        • Maksymalne obciążenie 130kg.</small></a>
                        <br><br><u>Producent: VERMEIREN</u>
                        <a style="float:right;color:red;"><small><u>Możliwość uzyskania refundacji przez NFZ kod: P.130</u></small></a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="row no-gutters"> 
        <div class="col-lg col-md-auto col-sm-auto col-auto">
            <div class="card-block px-2">
                <div class="card-header text-white" style="background-color:#192943;"><a>Wózek aluminiowy V300 30</a>
                </div>
                <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                    <img src="/public/wozki9.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                </div> 
                <div class="flex-container" style="width:100%;display:flex;">
                    <div class="d-none d-sm-block" style="min-width:200px">
                        <img src="/public/wozki9.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="card-body" style="width:50% min-width-400px">
                        <a class="card-text"><small>Dane Techniczne:<br>
                        • Wózek ze stabilizacją głowy i pleców z odchylanym oparciem do 30°,<br>
                        • Wózek przeznaczony dla osób z niestabilnym tułowiem, pararaliżem, <br>
                        • Podnóżki typu ORTHO z podparciem pod łydki i regulowanym kątem,<br>
                        • Płyta podnóżka z ustawialnym kątem,<br>
                        • Zmiana środka ciężkości,<br>
                        • Koła tylne z mechanizmem szybkozłącznym,<br>
                        • Szerokość siedziska: 39/42/44/46/48/50cm,<br>
                        • Waga wózka: 17,7kg,<br>
                        • Maksymalne obciążenie 130kg.</small></a>
                        <br><br><u>Producent: VERMEIREN</u>
                        <a style="float:right;color:red;"><small><u>Możliwość uzyskania refundacji przez NFZ kod: P.130</u></small></a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="row no-gutters"> 
        <div class="col-lg col-md-auto col-sm-auto col-auto">
            <div class="card-block px-2">
                <div class="card-header text-white" style="background-color:#192943;"><a>Wózek inwalidzki elektryczny AT5230</a>
                </div>
                <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                    <img src="/public/wozki10.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                </div> 
                <div class="flex-container" style="width:100%;display:flex;">
                    <div class="d-none d-sm-block" style="min-width:200px">
                        <img src="/public/wozki10.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="card-body" style="width:50% min-width-400px">
                        <a class="card-text"><small>Dane Techniczne:<br>
                        • Prędkość maksymalna: 6km/h,<br>
                        • Maksymalny kąt wzniesienia: 6 stopni, <br>
                        • Maksymalny promień skrętu: 1200mm,<br>
                        • Przybliżony zasięg na jednym ładowaniu: 20km,<br>
                        • Koła przednie opony nie wymagające pompowania,<br>
                        • Koła tylne opony pneumatyczne,<br>
                        • Szerokość siedziska: 45cm,<br>
                        • Waga wózka: 36kg,<br>
                        • Maksymalne obciążenie 130kg.</small></a>
                        <br><br><u>Producent: ANTAR</u>
                        <a style="float:right;color:red;"><small><u>Możliwość uzyskania refundacji przez NFZ kod: P.130</u></small></a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="row no-gutters"> 
        <div class="col-lg col-md-auto col-sm-auto col-auto">
            <div class="card-block px-2">
                <div class="card-header text-white" style="background-color:#192943;"><a>Wózek dziecięcy UMBRELLA</a>
                </div>
                <div class="d-sm-none" style="min-width:200px;float:center;text-align:center;">
                    <img src="/public/wozki11.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                </div> 
                <div class="flex-container" style="width:100%;display:flex;">
                    <div class="d-none d-sm-block" style="min-width:200px">
                        <img src="/public/wozki11.png" class="img-fluid float-left mr-3 mt-2" style="width:200px;height:250px;"alt="">
                    </div> 
                    <div class="card-body" style="width:50% min-width-400px">
                        <a class="card-text"><small>Dane Techniczne:<br>
                        • Przeznaczony dla dzieci z MPD (mózgowym porażeniem dziecięcym), przepukliną oponowo-rdzeniową, chorobami mięśni,<br>
                        • Składana, aluminiowa rama ze wzmacniającymi elementami stalowymi, <br>
                        • Tapicerka wykonana z tkanin z certyfikatem jakości OEKO-TEX, SGS,<br>
                        • Klin abdukcyjny, barierka, pas pięciopunktowy zabezpieczające dziecko przed wypadnięciem,<br>
                        • Rączki obrotowe z możliwością regulacji wysokości uchwytów do prowadzenia wózka,<br>
                        • 3 rozmiary wózka w zależności od wielkości dziecka,<br>
                        • Szerokość siedziska: 30/35/40cm,<br>
                        • Waga wózka: 13,5/15/19kg,<br>
                        • Maksymalne obciążenie 30/45/75kg.</small></a>
                        <br><br><u>Producent: MDH</u>
                        <a style="float:right;color:red;"><small><u>Możliwość uzyskania refundacji przez NFZ kod: P.131.1</u></small></a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
{% endblock %}